* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --accent-color: #646cff;
    --danger-color: #ff4d4f;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

.input-container {
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 3rem;
}

.input-container section {
    background-color: white;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
}

.input-container h2 {
    margin-bottom: 1rem;
}

input {
    display: block;
    width: 100%;
    padding: 0.5rem;
}

label {
    display: block;
    margin-bottom: 1rem;
}

label:last-child {
    margin-bottom: 0;
}


textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    resize: vertical;
    font-family: inherit;
}

input:focus {
    outline: none;
    border: 2px solid var(--accent-color);
}

.app-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 2rem;
    padding: 3rem;
    align-items: start;
    justify-items: center;
    max-width: 1200px;
}

.input-sections {
    margin-right: 0.5rem;
}

@media (max-width: 1200px) {
    .app-container {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .input-container {
        position: static;
        height: auto;
        width: auto;
    }
}